.sticky {
  /*width: 250px;
  height: 250px;*/
  /*position: absolute;*/
  cursor: pointer;
  border: 1px solid #aaa;
}
/*textarea {
  width: 300px;
  height: 300px;
}*/

#textarea {
  /*height: 100px;*/
  resize: vertical;
}
.selected {border-color: #000;}